* {
    font-family: "Roboto", sans-serif;
}

body {
    height: 100vh;
    margin: 0px;

    display: flex;
    flex-direction: column;
}

#content {

    /* Flex item */
    flex: 1;

    /* Flex container */
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    margin: 16px;
}

body {
    font-size: 20px; /* default = 16px */
}

#intro {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap-reverse;
    gap: 32px;
}

#welcome-text {
    max-width: 512px;
}

#welcome-text h1{
    margin-top: 0px;
}

#icons {
    display: flex;
    gap: 16px;

    font-size: 2em;
}

.emphasis {
    color: #008080;
}

.emphasis2 {
    color: #806B00;
}

.emphasis3 {
    color: #80005E;
}

#welcome-text .emphasis {
    white-space: pre;
}

#balloon-laos {
    max-width: 378px; /*3024/8*/
    max-height: 504px; /*4032/8*/

    border-radius: 50%;
    border: 2px solid #FFEA80;
}

.outer {
    display: flex;
    flex-direction: column;
    align-items: center;
}

/* .projects.outer, .blog.outer {
    background-color: teal;
    color: white;
} */

.projects.inner {
    display: flex;
    justify-content: center;
    gap: 16px;

    padding: 16px;
}

.project {
    display: flex;
    flex-direction: column;
    justify-content: center;

    border: solid;
    border-radius: 10%;
    text-align: center;
    width: 12vw;
    height: 12vw;
}

.project1 {
    color: #008080;
}
.project2 {
    color: #806B00;
}
.project3 {
    color: #80005E;
}

header {
    text-align: center;
    margin-bottom: 16px;
}

footer {
    text-align: center;
    font-size: .75em;
}

header button {
    margin: 8px 16px;
    font-size: .875em;
    /* text-decoration: underline; */
    /* border-bottom: 2px solid black; */
}

/* Blank button style */
/* https://stackoverflow.com/questions/2460100/remove-the-complete-styling-of-an-html-button-submit */
button {
    background: none;
	color: inherit;
	border: none;
	padding: 0;
	font: inherit;
	cursor: pointer;
	outline: inherit;
}