* {
    font-family: "Roboto", sans-serif;
}

body {
    height: 100vh;
    margin: 0px;

    display: flex;
    flex-direction: column;
}

#content {

    /* Flex item */
    flex: 1;

    /* Flex container */
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    margin: 16px;
}

#intro {
    display: flex;

    justify-content: center;
}

#welcome-text {
    max-width: 500px;
}

.emphasis {
    color:teal;
}

#balloon-laos {
    max-width: 378px; /*3024/8*/
    max-height: 504px; /*4032/8*/

    border-radius: 50%;
}

header {
    text-align: center;
}

footer {
    text-align: center;
}

header button {
    margin: 0px 16px;
}

/* Blank button style */
/* https://stackoverflow.com/questions/2460100/remove-the-complete-styling-of-an-html-button-submit */
button {
    background: none;
	color: inherit;
	border: none;
	padding: 0;
	font: inherit;
	cursor: pointer;
	outline: inherit;
}